In [13]:
import pandas as pd
import pyodbc 
from datetime import date,datetime, timedelta
from pandas.tseries.offsets import MonthEnd
print('Librerias Cargadas.')
server = 'ECBPPRQ121,11124' 
database = 'DATALAB_IDN' 
username = 'mencarna' 
password = 'Pelus@141516' 
stringConn ='DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password+';Trusted_Connection=True;';
cnxn = pyodbc.connect(stringConn)
cursor = cnxn.cursor()
print('Conección Exitosa.')
Anio=2025
Mes=11
print('Variables del proceso: Anio: '+str(Anio)+', Mes: '+ str(Mes)+'.')

Librerias Cargadas.
Conección Exitosa.
Variables del proceso: Anio: 2025, Mes: 11.

In [14]:
query = f"""
select * from [DATALAB_IDN].[HIS].[Banca_Multifuncion]
where year(FECHA_CORTE)={Anio} and month(FECHA_CORTE)={Mes}
"""
df_BSC = pd.read_sql(query, cnxn)
print('La obtención del BSC Historico es Exitosa.')

La obtención del BSC Historico es Exitosa.

C:\Users\mencarna\AppData\Local\Temp\ipykernel_22684\918077260.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_BSC = pd.read_sql(query, cnxn)

In [15]:
df = pd.read_excel('//ECUIO197H02/group_files/Inteligencia de Negocios/IDN-Global/Masivo/Masivo Ajustes.xlsx',
                   header=[0,1,2],
                   index_col=[0],
                   sheet_name='Ajustes')
df = df.stack(level=1).stack(level=1).stack().unstack(level=1)
df = df.reset_index()
df = df[df.columns.difference(['level_2'])]
df=df.rename(columns = {'USUARIO':'PRODUCTO','level_0':'USUARIO'})

C:\Users\mencarna\AppData\Local\Temp\ipykernel_22684\64228959.py:5: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  df = df.stack(level=1).stack(level=1).stack().unstack(level=1)
C:\Users\mencarna\AppData\Local\Temp\ipykernel_22684\64228959.py:5: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  df = df.stack(level=1).stack(level=1).stack().unstack(level=1)

In [16]:
df = pd.merge(df_BSC, df,  how='left', 
             left_on=['USUARIO','PRODUCTO'], 
             right_on =['USUARIO','PRODUCTO'] )
display(df)
df["AJUSTES"].fillna(0, inplace=True)
df["Real"]= df["Real"]+df["AJUSTES"]
df = df[df.columns.difference(['AJUSTES'])]

,PRODUCTO,USUARIO,Real,METAS,CATEGORIA,ACTIVO,TECHO_PRODUCTO,TECHO_P,TECHO_C,PORCENTAJE,...,AgenciaEjecucion,Agencia,Asesor,Medibles,PorcMedicion,ProvinciaAgencia,CiudadAgencia,CategorizacionAgencia,TipoMedicion,AJUSTES
0,CARTERA VENCIDA,JMENAVIL,2781876.46,2.777107e+06,PRODUCTIVIDAD,SI,SI,2.0,2.0,0.10,...,VILLA FLORA,VILLA FLORA,MENA VILLALBA JORGE ARMANDO,SI,1.0,PICHINCHA,QUITO,GRANDE,0,0.00
1,DESEMBOLSOS OTROS,JMENAVIL,322124.00,1.000000e+05,PRODUCTIVIDAD,SI,SI,2.0,2.0,0.10,...,VILLA FLORA,VILLA FLORA,MENA VILLALBA JORGE ARMANDO,SI,1.0,PICHINCHA,QUITO,GRANDE,0,0.00
2,DESEMBOLSOS VEHICULOS,JMENAVIL,0.00,2.437465e+04,PRODUCTIVIDAD,SI,SI,2.0,2.0,0.05,...,VILLA FLORA,VILLA FLORA,MENA VILLALBA JORGE ARMANDO,SI,1.0,PICHINCHA,QUITO,GRANDE,0,45871.95
3,EFECTIVO EXPRESS,JMENAVIL,28200.00,3.809500e+04,PRODUCTIVIDAD,SI,SI,2.0,2.0,0.10,...,VILLA FLORA,VILLA FLORA,MENA VILLALBA JORGE ARMANDO,SI,1.0,PICHINCHA,QUITO,GRANDE,0,0.00
4,INS,JMENAVIL,87.80,6.689900e+01,PRODUCTIVIDAD,SI,SI,65.0,71.0,0.15,...,VILLA FLORA,VILLA FLORA,MENA VILLALBA JORGE ARMANDO,SI,1.0,PICHINCHA,QUITO,GRANDE,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,SEGUROS,VENDARA,3144.83,3.300000e+03,PRODUCTIVIDAD,SI,SI,1.2,1.2,0.10,...,LA PRENSA,LA PRENSA,ENDARA CANA VANESSA ESTEFANIA,SI,1.0,PICHINCHA,QUITO,GRANDE,0,0.00
4236,SLA,VENDARA,84.72,7.500000e+01,PRODUCTIVIDAD,SI,SI,1.2,1.2,0.05,...,LA PRENSA,LA PRENSA,ENDARA CANA VANESSA ESTEFANIA,SI,1.0,PICHINCHA,QUITO,GRANDE,0,NaN
4237,TARJETAS,VENDARA,13.00,1.200000e+01,PRODUCTIVIDAD,SI,SI,1.2,1.2,0.10,...,LA PRENSA,LA PRENSA,ENDARA CANA VANESSA ESTEFANIA,SI,1.0,PICHINCHA,QUITO,GRANDE,0,0.00
4238,% SEGUROS,VGIRALDO,0.00,2.000000e-02,PUNTOS,SI,SI,1.0,1.2,1.00,...,SANTO DOMINGO,SANTO DOMINGO,GIRALDO JARAMILLO VALENTINA,SI,1.0,SANTO DOMINGO DE LOS TSÁCHILAS,SANTO DOMINGO,GRANDE,0,NaN
4239,AFILIACIONES APP+CUENTAS,VGIRALDO,1.00,8.000000e-01,PUNTOS,SI,SI,1.0,1.2,1.00,...,SANTO DOMINGO,SANTO DOMINGO,GIRALDO JARAMILLO VALENTINA,SI,1.0,SANTO DOMINGO DE LOS TSÁCHILAS,SANTO DOMINGO,GRANDE,0,NaN

C:\Users\mencarna\AppData\Local\Temp\ipykernel_22684\1695327657.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["AJUSTES"].fillna(0, inplace=True)

In [17]:
cursor.execute("TRUNCATE TABLE [DATALAB_IDN].[IDN].[Banca_Multifuncion]")
for index, row in df.iterrows():
    cursor.execute("""INSERT INTO [DATALAB_IDN].[IDN].[Banca_Multifuncion] 
    (PRODUCTO,USUARIO,Real,METAS,CATEGORIA,ACTIVO,TECHO_PRODUCTO,TECHO_P,TECHO_C,PORCENTAJE,INVERTIBILIDAD,
    TIPO,VALOR,ERROR,FECHA_CORTE,REGION,CodigoAgEjecucion,CodigoAgencia,Zona,AgenciaEjecucion,Agencia,
    Asesor,Medibles,PorcMedicion,ProvinciaAgencia,CiudadAgencia,CategorizacionAgencia,TipoMedicion) 
    values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)""",
                   row.PRODUCTO,row.USUARIO,row.Real,row.METAS,row.CATEGORIA,row.ACTIVO,row.TECHO_PRODUCTO,
                   row.TECHO_P,row.TECHO_C,row.PORCENTAJE,row.INVERTIBILIDAD,row.TIPO,row.VALOR,row.ERROR,
                   row.FECHA_CORTE,row.REGION,row.CodigoAgEjecucion,row.CodigoAgencia,row.Zona,
                   row.AgenciaEjecucion,row.Agencia,row.Asesor,row.Medibles,row.PorcMedicion,
                   row.ProvinciaAgencia,row.CiudadAgencia,row.CategorizacionAgencia,row.TipoMedicion)
    cnxn.commit()
print('Completado')

Completado

##### Final

In [18]:
import pandas as pd
import pyodbc 
from datetime import date,datetime, timedelta
from pandas.tseries.offsets import MonthEnd


server = 'ECBPPRQ121,11124' 
database = 'DATALAB_IDN' 
username = 'erisimba' 
password = 'Picachuevil300#' 
stringConn ='DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password+';Trusted_Connection=True;';
cnxn = pyodbc.connect(stringConn)
cursor = cnxn.cursor()
cursor.execute(f"""
DECLARE @MES INT,@ANIO INT
SELECT @MES ={Mes}
SELECT @ANIO ={Anio}
	DELETE FROM [DATALAB_IDN].[HIS].[Banca_Multifuncion]
	WHERE YEAR(FECHA_CORTE) = @ANIO AND MONTH(FECHA_CORTE) = @MES
	INSERT INTO [DATALAB_IDN].[HIS].[Banca_Multifuncion]
	SELECT * FROM [DATALAB_IDN].[IDN].[Banca_Multifuncion]
""")
cnxn.commit()
print('La Historia esta Cargada.')

La Historia esta Cargada.